:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellor-color: #d4aa11;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--light-dark-color);
  color: gold;
}

.wrapper {
  min-height: 100px;
  background-color: black;
  color: gold;
}

.logo {
  vertical-align: text-bottom;
  padding-left: 50px;
}

.wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.list-container {
  padding-left: 100px;
}

li {
  padding: 4px;
}

main {
  padding-top: 25px;
}

.hover_img a {
  position: relative;
}
.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover_img a:hover span {
  display: block;
}

.footer {
  color: rgb(245, 244, 239);
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: text-bottom;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: black;
  padding-top: 25px;
}

a {
  color: aqua;
}

.btn {
  background: #86ccb7;
  background-image: -webkit-linear-gradient(top, #86ccb7, #43c4e8);
  background-image: -moz-linear-gradient(top, #86ccb7, #43c4e8);
  background-image: -ms-linear-gradient(top, #86ccb7, #43c4e8);
  background-image: -o-linear-gradient(top, #86ccb7, #43c4e8);
  background-image: linear-gradient(to bottom, #86ccb7, #43c4e8);
  -webkit-border-radius: 58;
  -moz-border-radius: 58;
  border-radius: 58px;
  text-shadow: 1px 2px 1px #d4d299;
  -webkit-box-shadow: 3px 3px 6px #d1d671;
  -moz-box-shadow: 3px 3px 6px #d1d671;
  box-shadow: 3px 3px 6px #d1d671;
  font-family: Arial;
  color: #02077d;
  font-size: 21px;
  padding: 12px 9px 13px 12px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fbff00;
  text-decoration: none;
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.css-3d-text {
  font-size: 65px;
  color: #17cfc3;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 0px 0px 0 rgb(-13, 171, 159), 1px 1px 0 rgb(-50, 134, 122),
    2px 2px 0 rgb(-86, 98, 86), 3px 3px 0 rgb(-123, 61, 49),
    4px 4px 0 rgb(-159, 25, 13), 5px 5px 4px rgba(241, 252, 33, 0.6),
    5px 5px 1px rgba(241, 252, 33, 0.5), 0px 0px 4px rgba(241, 252, 33, 0.2);
}
